<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="_layout :: htmlhead" th:with="title='CRUD - Add New Customer'"></head>
</head>
<body>
<div th:replace="customer/index :: view_id">(view_id)</div> <!--/* 引入customer/index中定义的view_id */-->
<div th:replace="_layout :: navbar">(navbar)</div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="_layout :: sidebar">(sidebar)</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a th:href="@{/customer}"><span class="glyphicon glyphicon-list" aria-hidden="true" title="List"></span></a></li>
                <li class="active"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="New"></span></li>
            </ol>

            <div th:fragment='add_form'>
                <form th:action="@{/customer/add}" th:object="${customer}" th:method="post" action="#" class="form-horizontal">
                   <fieldset>
                       <div th:fragment='form'> <!--/* 将Form的内容定义为form组件，其他页面可以引入 */-->
                        <input type="hidden" th:field="*{id}" />
                           <div class="form-group"
                                th:class="${#fields.hasErrors('name')} ? 'has-error form-group': 'form-group'">
                               <!--/* 将如果有错误信息，则改变当前输入框的样式 */-->
                            <label class="col-sm-2 control-label">NAME</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" class="form-control" placeholder="NAME"/>
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="bg-danger">Name
                                    Error</label><!--/* 将如果有错误信息，则显示错误信息*/-->
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('alias')} ? 'has-error form-group': 'form-group'">
                            <label class="col-sm-2 control-label">ALIAS</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{alias}" class="form-control required" placeholder="ALIAS"/>
                                <label th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}" class="bg-danger">Alias Error</label>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('industry')} ? 'has-error form-group': 'form-group'">
                            <label class="col-sm-2 control-label">INDUSTRY</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{industry}" class="form-control" placeholder="INDUSTRY"/>
                                <label th:if="${#fields.hasErrors('industry')}" th:errors="*{industry}" class="bg-danger">Industry Error</label>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('region')} ? 'has-error form-group': 'form-group'">
                            <label class="col-sm-2 control-label">REGION</label>
                            <div class="col-sm-10">
                                <select th:field="*{region}" class="form-control selectpicker show-menu-arrow"
                                        data-live-search="true"><!--/* 以下拉框实现多对一（ManyToOne）映射 */-->
                                    <option value=""> -- </option>
                                    <option th:each="r : ${allRegions}" th:value="${r.id}" th:text="${r.code} + ' - ' + ${r.name} + ' - ' + ${r.localName}">CN</option>
                                </select>
                                <label th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="bg-danger">Region Error</label>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('products')} ? 'has-error form-group': 'form-group'">
                            <label class="col-sm-2 control-label">PRODUCTS</label>
                            <div class="col-sm-10">
                                <table class="table table-striped table-hover table-condensed">
                                    <!--/* 以表格实现多对多（ManyToMany）映射 */-->
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Product Name</th>
                                            <th>
                                                <button type="submit" name="addProduct" class="btn"
                                                        title="Add Products"> <!--/* 添加多个Product */-->
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                                <button type="button" class="btn"> <!--/* 编辑所有Product信息 */-->
                                                    <a th:href="@{/customer/toProduct}"><span
                                                            class="glyphicon glyphicon-pencil" aria-hidden="true"
                                                            title="Edit Products"></span></a>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="row,rowStat: *{products}">
                                        <!--/* 遍历当前已绑定的所有Product信息，同时用rowStat记录当前遍历的状态 */-->
                                        <td><span class="badge" th:text="${rowStat.count}"></span></td>
                                        <!--/* 第一列打印当前行数 */-->
                                            <td colspan="2">
                                                <div class="input-group">
                                                    <input type="hidden"
                                                           th:field="*{products[__${rowStat.index}__].id}"/>
                                                    <!--/* 埋入当前已绑定的Product列表中第N个元素的ID，注意：这里的products必须为List类型， */-->
                                                    <select th:field="*{products[__${rowStat.index}__].name}"
                                                            class="form-control selectpicker show-menu-arrow"
                                                            data-live-search="true">
                                                        <!--/* 也就是说必须支持products[n]的形式获取每个元素，如果使用了Set或者HashSet就会报错 */-->
                                                        <option value=""> -- </option>
                                                        <option th:each="p:${allProducts}" th:value="${p.name}"
                                                                th:text="${p.name}">P1
                                                        </option> <!--/* 列出所有的Product对象作为下拉框选项 */-->
                                                    </select>
                                                    <span class="input-group-btn">
                                                        <button type="submit" name="removeProduct"
                                                                th:value="${rowStat.index}" class="btn btn-default"
                                                                title="Delete"> <!--/* 去除当前已绑定的Product列表中的products[index] */-->
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </button>
                                                    </span>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <label th:if="${#fields.hasErrors('products')}" th:errors="*{products}" class="bg-danger">Products Error</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" name="save">Submit</button>
                            </div>
                        </div>
                    </div>
                   </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:include="_layout :: footer" id="footer">(footer)</div>
</body>
</html>
