<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="_layout :: htmlhead" th:with="title='CRUD - Edit Link'"></head>
</head>
<body>
<div th:replace="link/index :: view_id">(view_id)</div>
<div th:replace="_layout :: navbar">(navbar)</div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="_layout :: sidebar">(sidebar)</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <ol class="breadcrumb">
                <li><a th:href="@{/link}"><span class="glyphicon glyphicon-list" aria-hidden="true" title="List"></span></a></li>
                <li class="active"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></li>
            </ol>

            <div>
                <form th:action="@{/link/update}" th:object="${link}" th:method="post" class="form-horizontal">
                    <div th:include="link/add :: form">(Form)</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:include="_layout :: footer" id="footer">(footer)</div>

</body>
</html>
